 <footer class="moon-footer">
    <div class="moon-footer-container">
      <div class="moon-footer-brand">
        <img src="{{logo}}" alt="Moon Inferno Logo" class="moon-footer-logo">
        <p>{{title1}}</p>
        
      </div>

      <div class="moon-footer-links">
        <h4>{{title2}}</h4>
        <ul>
          <li><a href="#">{{link1}}</a></li>
          <li><a href="#">{{link2}}</a></li>
          <li><a href="#">{{link3}}</a></li>
          <li><a href="#">{{link4}}</a></li>
        </ul>
      </div>

      <div class="moon-footer-contact">
        <h4>{{link5}}</h4>
        <ul>
          <li>{{link6}}</li>
          <li>{{link7}}</li>
          <li>{{link8}}</li>
        </ul>
      </div>
    </div>

    <div class="moon-footer-copyright">
      <p>© 2024 <strong>Moon Inferno</strong>. Tutti i diritti riservati.</p>
    </div>
  </footer>