<section class="grid-orizzontale">
  <div class="colonna">
    <div class="card">
      <img src="{{img1}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{titolo1}}</h5>
        <a href="#" class="aero-btn">{{bottone}}</a>
      </div>
    </div>
  </div>

  <div class="colonna">
    <div class="card">
      <img src="{{img2}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{titolo2}}</h5>
        <a href="#" class="aero-btn">{{bottone}}</a>
      </div>
    </div>
  </div>

  <div class="colonna">
    <div class="card">
      <img src="{{img3}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{titolo3}}</h5>
        <a href="#" class="aero-btn">{{bottone}}</a>
      </div>
    </div>
  </div>
</section>
